body {
    font-family: "Cause", sans-serif;
}

h1 {
    font-family: "DM Serif Text", sans-serif;
}

.navbar {
    background-color: #fff;
}

.navbar img {
    width: 150px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.684)), url(../background.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 17px;
}

.about img {
    width: 450px;
}

.about p {
    text-align: justify;
}

.anime-fav img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
