body {
    font-family: "Cause", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "DM Serif Text", sans-serif;
}

.navbar {
    background-color: #fff;
}

.navbar img {
    width: 150px;
}

header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.684)), url(../background.jpg);

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    color: #fff;

    animation: bgScroll 20s linear infinite alternate;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 17px;
}

.about img {
    width: 450px;
}

.about p {
    text-align: justify;
}

.anime-fav {
    background-color: #f7fbfc;
}

.anime-fav img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.anime-fav .card {
    border: 0px;
    border-radius: 10px;
}

.anime-fav span {
    font-size: 13px;
    font-weight: 300;
}

.anime-fav .anime-details {
    font-size: 15px;
}

.anime-fav .anime-details a {
    cursor: pointer;
}

.anime-fav .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.anime-fav .card-footer {
    background: none;
    border: none;
    font-size: 20px;
}

.anime-fav .card-footer i {
    color: #ea9800;
    font-size: 14px;
}

.anime-fav .card-footer .rating {
    font-size: 15px;
}

.games img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.games .card {
    border: none;
    border-radius: 10px;
}

.games span {
    font-weight: 300;
    font-size: 13px;
}

.card-footer {
    background: none;
    border: none;
}

.games .card-footer .id-game {
    font-weight: 500;
    font-size: 15px;
}

.characters {
    background-color: #f7fbfc;
}

.characters .card {
    border-radius: 10px;
}

.characters img {
    border-radius: 10px;
}

@keyframes bgScroll {
    0% {
        background-position: center top;
    }

    100% {
        background-position: center bottom;
    }
}
